:root {
  --main-color: rgb(95, 0, 128);
  --sub-color: rgb(222, 222, 222);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', 'malgun gothic', sans-serif;
}
body {
  width: 100%;
}

/* button, input css none */
button,
input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}

.signupAd {
  width: 100vw;
  min-width: 1090px;
  background-color: var(--main-color);
  color: aliceblue;
  text-align: center;
  display: flex;
  padding: 10px 20px;
}
.signupAd p {
  margin-left: auto;
}
.wrapper {
  width: 1090px;
  margin: 0 auto;
  padding: 0 20px;
}

.topNav {
  display: flex;
  width: 100%;
  justify-content: end;
  font-size: 12px;
  gap: 10px;
  margin: 10px 0 20px 0;
}

.divider {
  color: var(--sub-color);
}
#CS {
  display: flex;
  align-items: center;
  gap: 3px;
}
#signup {
  color: var(--main-color);
}

.topNav button:last-child {
  border-right: none;
}

.upperNav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.kurly {
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  flex-shrink: 0;
}

#marketKurly {
  margin-left: 20px;
  color: var(--main-color);
}
#marketKurly::after {
  content: '|';
  color: var(--sub-color);
  font-weight: 100;
  margin-left: 10px;
}

#beautyKurly {
  color: rgb(167, 167, 167);
  position: relative;
  margin-right: 70px;
}
#beautyKurly::after {
  position: absolute;
  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTUuMTA4IDd2LS4wMDdMMS45MTEgMi41NzdWN0guMDQ2VjBoMS44NjdsMy4xOTYgNC40MTlWMGgxLjg2N3Y3SDUuMTA4eiIgZmlsbD0iI0ZBNjIyRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=');
  font-size: 10px;
  z-index: 10;
  top: -3px;
  right: -10px;
}

.search {
  width: 400px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  flex-shrink: 0;
  margin-right: 180px;
}
.search input {
  width: 100%;
}

#searchIcon {
  padding: 3px;
}

.tools {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}
#category {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 160px;
}
.nav {
  display: flex;
  gap: 100px;
  margin-right: 100px;
}
#shippingInfoButton {
  font-size: 12px;
  border: 1px solid var(--sub-color);
  border-radius: 12px;
  padding: 5px 15px;
}
.strongColor {
  color: var(--main-color);
}
.main {
  width: 100%;
}

.imgList {
  position: relative;
  margin-top: 10px;
}
.imgItem {
  max-width: 1470px;
  height: 370px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#leftArrow {
  left: 100px;
  transform: rotate(180deg) translate(0, 50%);
}
#rightArrow {
  right: 100px;
}
.hover:hover {
  transition: 0.5s ease all;
  transform: scale(1.03);
}
